@import url("reset.css");
@import url("normalize.css");
/* @import url("common.css"); */

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");


html,body{
	font-family: 'Pretendard', sans-serif;
	/* max-width: 1920px; */
	margin: 0 auto!important;
	color:#323232;
  /* overflow-x: hidden; */
}

#wrap{}
.ft_wr,
.wr{
	width: 95%;
	margin: auto;
	max-width: 1400px;
	min-width: 960px;
}
.ovh{
  overflow: hidden;
}
.ptColor1{
	color: #255b4c;
}
.bgColor1{
	background-color: #255b4c;
}
.onlyMob{display: none;}
/* header */
#header{
	width: 100%;
	position: fixed;
	color:#fff;
	z-index: 100;
	left: 0;
	top: 0;
}
.hd_wr{
	width: 95%;
	max-width: 1680px;
	margin: auto;
	padding: 35px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 2;
}
.hd_bg{
	background: rgba(255,255,255,.85);
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	height: 0;
	opacity: 0;
	z-index: 1;
}
#logo{margin: 0;}
#logo svg{
	width: 135px;
	height: 40px;
}
#logo svg path{
	fill:#fff;
}
#gnb{}
#gnb > ul{
	display: flex;

}
#gnb > ul > li{
	padding: 0 48px;
	position: relative;
	z-index: 2;
}
#gnb > ul > li > a{
	display: block;
	font-size: 22px;
	font-weight: 600;
	position: relative;
	z-index: 2;
}
#gnb > ul > li > a::after{
	content: "";
	display: block;
	width: 0%;
	height: 1px;
}
#gnb > ul > li > a.on{
	color:#91ffb5;
}
#gnb > ul > li > a.on::after{
	width: 100%;
	background-color: #91ffb5;
	/* transition: all .3s */
}
#gnb > ul > li > ul{
	position: absolute;
	top: 0;
	padding-top: 47px;
	z-index: 1;
	width: 100%;
	left: 0;
	padding-left: 48px;
	box-sizing: border-box;
	display: none;
	opacity: 0;
}
#gnb > ul > li > ul > li{
	margin-bottom: 15px;
}
#gnb > ul > li > ul > li a{
	font-size: 18px;
	font-weight: 400;
	color:#323232;
}
#gnb > ul > li > ul > li a:hover{
	color:#205c4d;
}

.fp-viewing-history #header,
.fp-viewing-slogan #header,
#header.fx,
#header.on{
	background: rgba(255,255,255,.85);
	transition: all .8s;
}


.fp-viewing-history #header #logo svg path,
.fp-viewing-slogan #header #logo svg path,
#header.fx #logo svg path,
#header.on #logo svg path{
	fill: #215C4D;
}
#header.on .hd_bg{
	height: 130px;
	transition: opacity .8s;
	opacity: 1;
}
.fp-viewing-history #header #gnb > ul > li > a,
.fp-viewing-slogan #header #gnb > ul > li > a,
#header.fx #gnb > ul > li > a,
#header.on #gnb > ul > li > a{
	color:#323232!Important;
}
.fp-viewing-history #header #gnb > ul > li > a::after,
.fp-viewing-slogan #header #gnb > ul > li > a::after,
#header.fx #gnb > ul > li > a::after,
#header.on #gnb > ul > li > a::after{
	background-color: #323232;
	transition: none;
}
#header.on #gnb > ul > li > ul{
	display: block;
	opacity: 1;
	transition: all 1s;
}
.fp-viewing-history #header #menuOpen span,
.fp-viewing-slogan #header #menuOpen span,
#header.fx #menuOpen span,
#header.on #menuOpen span{
  background-color: #323232;
}

/* #footer */
#footer{
	color: #fff;
	padding: 90px 0 75px;
	font-size: 16px;
}
.ft_wr{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.ft_cont{}
.ft_link{
	margin-bottom: 45px;
	display: flex;
}
.ft_link a{
	display: block;
	width: 130px;
	height: 35px;
	line-height: 35px;
	color:#ccffe5;
	border: 1px solid #ccffe5;
	text-align: center;
	font-weight: 700;
	margin-right: 10px;
}
.ft_info{
	font-size: 0;
}
.ft_info dl{
	position: relative;
	display: inline-block;
	line-height: 1.875;
	font-size: 16px;
	padding-right: 10px;
	margin-right: 10px;
}
.ft_info dl:first-child:after{
	content: "";
	right: 0;
	display: block;
	width: 1px;
	height: 100%;
	background-color: #fff;
	position: absolute;
	right: 0;
	top: 20%;
	width: 1px;
	height: 50%;
}
.ft_info dl:last-child{
	width: 100%;
}
.ft_info dl > *{
	display: inline-block;
}
.ft_info dl dt{
	font-weight: 700;
	margin-right: 5px;
}
.ft_logo{
	line-height: 1.875;
}
.ft_logo img{
	display: block;
	margin-left: auto;
	margin-bottom: 10px;
}

#quick{
	position: fixed;
	right: 40px;
	bottom: 40px;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	color:#fff;
	font-size: 20px;
	line-height: 1.3;
	letter-spacing: -0.025em;
	background-color: #255b4c;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
  border: 1px solid #528073;
  z-index: 10;
}

/* main common */

/* #company */
#company{
  position: relative;
}
#company .sec{
	padding: 160px 0;
  background-color: #fff;
  position: relative;
  z-index: 5;
  /* overflow-x: hidden; */
  overflow: hidden;
  box-sizing: border-box;
}
#company .sec:not(.sec2)::before{
  /* content: "";
  position: absolute;
  left: 0;
  top: -50%;
  width: 100%;
  height: 200%;
  background-color: #fff;
  z-index: 1; */
}
#company .sec .wr{
  position: relative;
  z-index: 2;
}
#company .sec h3{
	font-size: 60px;
	font-weight: 800;
	line-height: 1.33;
	margin-bottom: 60px;
}
#company .sec h3 span{
	display: block;
	font-size: 30px;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 20px;
}
#company .sec p{
	font-size: 30px;
	font-weight: 600;
	line-height: 1.66;
}

#company .banner{
	position: relative;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  z-index: 1;
  overflow: hidden;
}
#company .banner .tit{
	position: absolute;
	left: 0;
	right: 0;
	top: 49%;
	transform: translateY(-50%);
	font-size: 40px;
	font-weight: 700;
	color:#fff;
	text-align: center;
	line-height: 1.4;
	z-index: 10;
  display: flex;
  flex-flow: column;
  align-items: center;
}
#company .banner .tit h2{
	font-size: 70px;
	line-height: 1.28;
	margin-bottom: 80px;
}
#company .banner .tit > div{
	display: flex;
	justify-content:space-between;
  width: 675px;
}
#company .banner .tit > div p{}
#company .banner .tit > div span{
	display: inline-block;
	/* margin: 0 20px; */
	/* padding: 0 50px; */
	position: relative;
	box-sizing: border-box;
  width: 400px;
}
#company .banner .tit > div span::after{
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: #fff;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -10px;
}
#company .banner .cont{
	-ms-transform: scale(1.2, 1.2);
	-webkit-transform: scale(1.2, 1.2);
	-webkit-transition:transform 7s ease-out, opacity 1s ease 0.3s;
	transition:transform 7s ease-out, opacity 1s ease 0.3s;	
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#company .banner .swiper-slide-active .cont{
	opacity: 1;
	-ms-transform: scale(1, 1) rotate(.001deg);
	-webkit-transform: scale(1, 1) rotate(.001deg);
	transform: scale(1, 1) rotate(.001deg);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
#company .banner .swiper-slide .cont img{
  min-height: 700px;
  opacity: 0;
  /* max-width: 130%; */
}
#company .scrollmagic-pin-spacer{
  background-color: #fff;
  z-index: 2;
}


#company .sec1{}
#company .sec1 .tit{}
#company .sec1 .tit h3{
	margin-bottom: 55px;
}
#company .sec1 .tit h3 font{
	position: relative;
}
#company .sec1 .tit h3 font::after{
	position: absolute;
	left: 0;
	top: 0;
	transform: translateY(-100%);
	color:#255b4c;
	font-size: 20px;
	font-weight: 600;
}
#company .sec1 .tit h3 font:nth-of-type(1)::after{
	content: "Brand";
}
#company .sec1 .tit h3 font:nth-of-type(2)::after{
	content: "Intellectual Property";
}
#company .sec1 .tit h3 font:nth-of-type(3)::after{
	content: "be:V";
}
#company .sec1 .cont p{
	display: flex;
	justify-content: flex-end;
	width: 100%;
}
#company .sec1 .cont p + div{
	text-align: center;
	margin-top: 70px;
	position: relative;
}
#company .sec1 .cont #beforeLogo{
	display: flex;
	align-items: center;
  justify-content: center;
	/* transition: opacity 1s ease 1.1s; */
	transition: none;
  transition: all .6s ease 0s;
}
#company .sec1 .cont div span font{
	color:#255b4c;
	font-size: 25px;
	line-height: 2.2;
	font-weight: 600;
	display: block;
	margin-top: 5px;
}
#company .sec1 .cont #beforeLogo span:last-child font{
	text-align: right;
}
#company .sec1 .cont #beforeLogo.act{
	opacity: 0;
	transition: opacity 1s ease .3s;
}
#company .sec1 .cont #beforeLogo .logoMove1{
	transition-delay: 0s;
	transition: all .6s ease 0s;
	transform: translateX(15%);
}
#company .sec1 .cont #beforeLogo .logoMove3{
	transition-delay: 0s;
	transition: all .6s ease 0s;
	transform: translateX(-50%);
}
#company .sec1 .cont #afterLogo{
	opacity: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1;
	transition: none;
	/* transition: opacity 1s ease 0.8s; */
}
#company .sec1 .cont #afterLogo.act{
	opacity: 1;
	transition: opacity 1s ease .6s;
}

#company .sec2{
	/* padding-top: 100px; */
	padding-bottom: 0;
}



#company .sec2 .panel .wr{
  /* background-image: url(../img/sec2-a.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 1000px; */
  /* background-attachment: fixed; */
}
#company .sec2 .panel2 .wr{ 
  /* background-image: url(../img/sec2-b.png); */
}
#company .sec2 .tit{
  position: relative;
  z-index: 2;
  overflow: hidden;
}
#company .sec2 .cont{
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	transform: translateY(-30%);
}
#company .sec2 .cont span{
	margin-left: 20px;
}
#company .sec2 .tit h3{
  position: relative;
}
#company .sec2 .tit p{
  position: relative;
}
#company .sec2 .first{
	transition: all .3s;
}
#company .sec2 .second{
  margin-top: 80px;


  /* left: 0;
  top: 0;
  position: absolute;
  transition: all 1s; */
}


#company .sec2 .second.aos-animate{
	/* animation: opFrom 5s infinite 6s; */
}
#company .sec2 .second.aos-animate + .first{
	opacity: 0;
  /* transition-delay:.5s ; */

	/* animation: opTo 5s infinite 6s; */
}

@keyframes opTo{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

@keyframes opFrom{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

#company .sec3{
	padding-bottom: 0;
  overflow: hidden;
}

#company .sec3 .tit{}
#company .sec3 .cont{
	display: flex;
	flex-wrap: wrap;
	margin-top: 80px;
	border-top: 2px solid #255b4c;
	padding-left: 40px;
}
#company .sec3 .cont dl{
	width: 37%;
	position: relative;
}
#company .sec3 .cont dl::before{
	content: "";
	display: block;
	width: 14px;
	height: 14px;
	background-color: #255b4c;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 0;
	transform: translateY(-50%);
}
#company .sec3 .cont dl dt{
	font-size: 45px;
	line-height: 1.22;
	font-weight: 800;
	padding: 20px 0 10px;
}
#company .sec3 .cont dl dd{
	font-size: 20px;
	line-height: 2;
	font-weight: 600;
	/* white-space: nowrap; */
}
#company .sec3 .cont dl:last-child{
	width: 26%;	
}

#company .sec4{
	padding-top: 130px;
}
#company .sec4 .tit{
	display: flex;
	align-items: flex-end;

}
#company .sec4 .tit > div{
	width: 50%;
}
#company .sec4 .tit .img_wr{
	padding-right: 4.5%;
	box-sizing: border-box;
  position: relative;
}
#company .sec4 .tit .img_wr span{
  position: relative;
  display: block;
}
#company .sec4 .tit .img_wr span > img:last-child{
  position: absolute;
  right: 0;
  bottom: 0;
}
#company .sec4 .cont{
	margin-top: 130px;
}
#company .sec4 .cont > div{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}
#company .sec4 .cont dl{
	padding-top: 75px;
	font-size: 25px;
	line-height: 1.4;
	font-weight: 600;
	text-align: right;
	width: 33.33%;
	box-sizing: border-box;
}
#company .sec4 .cont dl:nth-child(2){
	text-align: center;
	padding-top: 0;
	padding-left: 30px;
	padding-right: 30px;
}
#company .sec4 .cont dl:nth-child(3){
	text-align: left;
	/* white-space: nowrap; */
}
#company .sec4 .cont dl dt{
	font-size: 40px;
	margin-bottom: 20px;
	line-height: 1.375;
	font-weight: 700;
}
#company .sec4 .cont dl dt img{
	display: block;
	margin: 0 auto 45px;
}
#company .sec4 .cont dl:nth-child(2) dd{
	width: 200%;
	margin-left: -50%;
}
#company .sec4 .cont dl:nth-child(3) dd{
  width: 110%;
}
#company .sec5{}
#company .sec5 .tab_btn{
	display: flex;
	margin-bottom: 20px;
}
#company .sec5 .tab_btn a{
	font-size: 30px;
	line-height: 1.33;
	font-weight: 600;
	color:#9b9b9b;
	margin-right: 35px;
}
#company .sec5 .tab_btn a.on{
	color:#292929;
}
#company .sec5 .tab{
	display: none;
}
#company .sec5 .tab.on{
	display: block;
}
#company .sec5 .tab .tit{
	overflow: hidden;
	border-radius: 25px;
	box-shadow: 14px 20px 80px 0px rgba(112, 112, 112, 0.3);
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 55px;
}
#company .sec5 .tab .tit .img_wr{
	width: 32%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#company .sec5 .tab .tit .img_wr img{opacity: 0;}
#company .sec5 .tab .tit .txt_wr{
	width: 68%;
	padding: 70px 3.5%;
	box-sizing: border-box;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}
#company .sec5 .tab .tit .txt_wr h4{
	font-size: 42px;
	font-weight: 700;
}
#company .sec5 .tab .tit .txt_wr h4 span{
	font-size: 40px;
	display: inline-block;
	margin-left: 10px;
}
#company .sec5 .tab .tit .txt_wr h4 span font{
  font-size: 0.7em;
}
#company .sec5 .tab .tit .txt_wr p{
	font-size: 26px;
	line-height: 1.53;
	font-weight: 600;
}
#company .sec5 .tab .cont{}
#company .sec5 .tab .cont .tab_info{
	margin-bottom: 120px;
}
#company .sec5 .tab .cont .tab_info dl{
	margin-bottom: 40px;
	display: flex;
	font-size: 20px;
	line-height: 2;
}
#company .sec5 .tab .cont .tab_info dl dt{
	font-size: 30px;
	font-weight: 700;
	padding-right: 55px;
	min-width: 255px;
	box-sizing: border-box;
}
#company .sec5 .tab .cont .tab_info dl dd{}
#company .sec5 .tab .cont .tab_sample{}
#company .sec5 .tab .cont .tab_sample h5{
	font-size: 40px;
	font-weight: 800;
	margin-bottom: 55px;
}
#company .sec5 .tab .cont .tab_sample h5 span{
	font-size: 30px;
	font-weight: 600;
	display: block;
	margin-bottom: 10px;
}
#company .sec5 .tab .cont .tab_sample ol{}
#company .sec5 .tab .cont .tab_sample li{
	margin-bottom: 70px;
}
#company .sec5 .tab .cont .tab_sample li h6{
	font-size: 30px;
	font-weight: 700;
}
#company .sec5 .tab .cont .tab_sample li h6 a{
  cursor:unset;
}
#company .sec5 .tab .cont .tab_sample li p{
	margin-top: 35px;
	font-size: 20px;
	line-height: 2;
	font-weight: 400;
}
#company .sec5 .tab .cont .tab_sample > a{
	display: inline-block;
	margin-bottom: 30px;
}
#company .sec5 .tab .cont .tab_sample ul li{
	margin-bottom: 30px;
}

#company .sec6{
	padding-top: 200px;
}
#company .sec6 .tit{
  text-align: center;
}
#company .sec6 .tit h3{
	margin-bottom: 40px;
}
#company .sec6 .cont{
	margin-top: 30px;
  position: relative;
  box-shadow: 14px 20px 80px 0px rgba(112, 112, 112, 0.3);
}
#company .sec6 .cont .iw_inner{
  padding: 20px;
}
#company .sec6 .cont .iw_inner h3{
  font-size: 16px;
  margin-bottom: 10px;
}
#company .sec6 .cont .iw_inner p{
  font-size: 14px;
}
#company .sec6 .cont > img{
	width: 100%;
  opacity: 0;
}
#company .sec6 .cont .map_wr{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
#company .sec6 .cont .map_wr #map{
  width: 100%;
  max-height: 100%;
}


#service{
	letter-spacing: -0.025em;
}
#service .sec{
  overflow-x: hidden;
}
#service .sec h3{
	font-size: 55px;
	font-weight: 700;
	line-height: 1.28;
}
#service .sec p{
	font-size: 30px;
	line-height: 1.66;
	font-weight: 600;
	word-break: keep-all;
}
#service .banner{
	position: relative;
}
#service .banner .tit{
	position: absolute;
	left: 0;
	right: 0;
	top: 49%;
	transform: translateY(-50%);
	font-size: 40px;
	font-weight: 700;
	color:#fff;
	text-align: center;
	line-height: 1.4;
	z-index: 10;
}
#service .banner .tit h2{
	font-size: 70px;
}
#service .banner .tit span.line{
	width: 2px;
	height: 90px;
	margin: 30px auto;
	display: block;
	background-color: #fff;
}
#service .banner .tit p{
	font-size: 50px;
	line-height: 1.4;
}
#service .banner .cont{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 700px;
	min-height: 850px;

}
#service .banner .cont img{
	opacity: 0;
}

#service .sec1{
	padding: 230px 0;
}
#service .sec1 .tit{}
#service .sec1 .tit dl{
	display: flex;
	align-items: flex-start;
}
#service .sec1 .tit dl:nth-child(2){
	margin: 110px 0;
	flex-flow: row-reverse;
	text-align: right;
}
#service .sec1 .tit dl dt{
	font-size: 250px;
	color:#ededed;
	line-height: 0.8;
	padding-right: 80px;
	font-weight: 700;
}
#service .sec1 .tit dl dd{}
#service .sec1 .tit dl dd h3{
	margin-bottom: 40px;
}
#service .sec1 .tit dl:nth-child(2) dt{
	padding-right: 0;
	padding-left: 30px;
}
#service .sec2{
	padding: 50px 0;
	text-align: center;
}
#service .sec2 .tit{
	margin-bottom: 50px;
}
#service .sec2 .tit h3 span{
  display: block;
  color:#323232;
  font-size: 0.75em;
  margin-top: 0.4em;
}
#service .sec2 .cont .swiper_img{
	border: 20px solid #2f3135;
	border-radius: 35px;
	max-width: 700px;
	box-shadow: 32px 45px 92px 0px rgba(112, 112, 112, 0.4);
}
#service .sec2 .cont .swiper_img .swiper-slide{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#service .sec2 .cont .swiper_img .swiper-slide1{background-image:url(../img/service/sec2-1.png)}
#service .sec2 .cont .swiper_img .swiper-slide2{background-image:url(../img/service/sec2-2.png)}
#service .sec2 .cont .swiper_img .swiper-slide3{background-image:url(../img/service/sec2-3.png)}
#service .sec2 .cont .swiper_img .swiper-slide4{background-image:url(../img/service/sec2-4.png)}
#service .sec2 .cont .swiper_img .swiper-slide img{
	width: 102%;
	margin: 0 -1%;
  opacity: 0;
}
#service .sec2 .cont .cont-pagi{
	margin-top: 25px;
	display: flex;
	justify-content: center;
	position: relative;
	width: auto;
	display: flex;
}
#service .sec2 .cont .cont-pagi .swiper-pagination-bullet{
	width: auto;
	height: auto;
	background: none;
	border: none;
	opacity: 1;
	border-radius: none;
	outline: none;
  position: relative;
  margin: 0;
}
#service .sec2 .cont .cont-pagi .swiper-pagination-bullet::after{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 22%;
	transform: translateY(-50%);
	background-color: #8e9792;
	height: 2px;
	width: 100%;
}
#service .sec2 .cont .cont-pagi .swiper-pagination-bullet:first-child:after{
  width: 50%;
  left: 50%;
}
#service .sec2 .cont .cont-pagi .swiper-pagination-bullet:last-child:after{
  width: 50%;
}
#service .sec2 .cont .cont-pagi .swiper-pagination-bullet span{
	font-weight: 600;
	font-size: 20px;
	width: auto;
	height: auto;
	background: #fff;
	margin: 0 105px;
	border: 1px solid #8e9792;
	width: 50px;
	height: 50px;
	line-height: 50px;
	opacity: 1;
	position: relative;
	z-index: 1;
	color:#8e9792;
	display: inline-block;
	border-radius: 50%;
	margin-bottom: 20px;
}
/* #service .sec2 .cont .cont-pagi .swiper-pagination-bullet::after{
	display: block;
	padding-top: 15px;
	top: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
} */
#service .sec2 .cont .cont-pagi .swiper-pagination-bullet:nth-child(1){
	margin-left: 0;
}
#service .sec2 .cont .cont-pagi .swiper-pagination-bullet:nth-child(4){
	margin-right: 0;
}
#service .sec2 .cont .cont-pagi .swiper-pagination-bullet-active span{
	color:#255b4c;
	border-color: #255b4c;
}
#service .sec2 .cont .cont-pagi .swiper-pagination-bullet-active p{
	color:#255b4c;
}

#service .sec2 .cont .swiper_txt{
	margin-top: 80px;
}
#service .sec2 .cont .swiper_txt .swiper-slide{
	opacity: 0!important;
}
#service .sec2 .cont .swiper_txt .swiper-slide-active{
	opacity: 1!important;
}
#service .sec2 .cont .swiper_txt .swiper-slide h6{
	font-size: 40px;
	line-height: 1.25;
	font-weight: 800;
}
#service .sec2 .cont .swiper_txt .swiper-slide h6 span{
	display: block;
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 10px;
}

#service .sec3{
	padding: 270px 0 135px;
}
#service .sec3 .wr{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#service .sec3 .tit{
	width: 37%;
	padding-right: 50px;
	box-sizing: border-box;
}
#service .sec3 .tit h3 span{
	font-size: 30px;
	line-height: 1.33;
	font-weight: 600;
	display: block;
}
#service .sec3 .cont{}
#service .sec3 .cont dl{
	display: flex;
  /* margin-bottom: 35px; */
  align-items: center;
}
#service .sec3 .cont dl:last-child dt,
#service .sec3 .cont dl:last-child dd{
  padding-bottom: 0;
}
#service .sec3 .cont dt{
	min-width: 160px;
  padding-bottom: 35px;
  position: relative;
}
#service .sec3 .cont dt img{
  position: relative;
  z-index: 1;
}
#service .sec3 .cont dt::after{
  content: "";
  width: 3px;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  position: absolute;
  background-color: #255b4c;

}
#service .sec3 .cont dd{
	padding-left: 45px;
  padding-bottom: 35px;
	/* padding-top: 30px; */
}
#service .sec3 .cont dd p{
	font-weight: 600;
	font-size: 20px;
	line-height: 1.6;
}
#service .sec3 .cont dd span{
	font-size: 40px;
	line-height: 1;
	margin-bottom: 15px;
	font-weight: 700;
	display: block;
}
#service .sec4{
	padding-bottom: 120px;

}
#service .sec4 .wr{
	position: relative;
	padding-top: 450px;
}
#service .sec4 .tit{
	margin-bottom: 170px;
}
#service .sec4 .tit h3{
	margin-bottom: 40px;
}
#service .sec4 .tit .img_wr{
	position: absolute;
	right: 0;
	top: -10px;

}
#service .sec4 .cont{}
#service .sec4 .cont ul{}
#service .sec4 .cont ul h4{
	font-size: 60px;
	font-weight: 800;
	margin-bottom: 70px;
}
#service .sec4 .cont ul h4 span{
	font-size: 30px;
	line-height: 1.83;
	display: inline-block;
	margin-left: 20px;
	font-weight: 600;
}
#service .sec4 .cont ul li{
	margin-bottom: 25px;
}
#service .sec4 .cont ul li h5{
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 5px;
}
#service .sec4 .cont ul li p{
	font-size: 25px;
	line-height: 1.8;
}
#service .sec4 .cont ul li .btn_open{
	margin: 25px 0;
	font-size: 20px;
	padding-bottom: 2px;
	border-bottom: 1px solid #255b4c;
	display: inline-block;
	font-weight: 600;
}
#service .sec4 .cont ul li .btn_open::after{
	content: "";
	width: 12px;
	height: 7px;
	background: url(../img/service/arrow.png) no-repeat center;
	background-size: cover;
	display: inline-block;
	vertical-align: middle;
	margin-left: 4px;
	display: none;
}
#service .sec4 .cont ul li .btn_open.open::after{
	display: inline-block;
}
#service .sec4 .cont ul li .img_wr{
	display: none;
	box-shadow: 14px 20px 80px 0px rgba(112, 112, 112, 0.3);
	border-radius: 25px;
	margin-bottom: 75px;
	overflow: hidden;
}
#service .sec4 .cont ul li .open + .img_wr{
	display: block;
}

#company .fp-table{
  justify-content: unset;
}